*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: 0;
  outline: 0;
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
}
.top,
.center,
.bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.top{
  height: 38%;
}
.center{
  padding-top: 20px;
}
.top{
  background-size: cover ;
}
#top-woman-1{
  background: url(../img/top-img-1.jpg) 0% 0% no-repeat;
  background-size: cover;
}
#top-woman-2{
  background: url(../img/top-img-2.png) 50% 0% no-repeat;
  background-size: cover ;
}
#top-woman-3{
  background: url(../img/top-img-3.png) 50% 50% no-repeat;
  background-size: cover ;
}
.top-woman{
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-list, .slick-track{
  height: 100%;
}
.woman{
  width: 100%;
  height: 39vh;
  overflow: hidden;
}
.woman__media {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  display: flex;
}
.logo__media {
  width: 100%;
}
.logo__text{
  position: absolute;
  width: 40%;
  right: 40%;
  top: 20%;
}
.center {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video{
  width: 100%;
}