*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: 0;
  outline: 0;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"),
    url("../fonts/Avenir-Medium.woff") format("woff"),
    url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  background: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 1080px !important;
}
.top,
.center,
.bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 480px !important;
}
.top,
.center {
  height: 38%;
}
.bottom{
  height: 24%;
}
.center {
  padding-top: 20px;
}
.top {
  background-size: cover;
}
#top-woman-1 {
  background: url(../img/top-img-1.jpg) 0% 0% no-repeat;
  background-size: cover;
}
#top-woman-2 {
  background: url(../img/top-img-2.png) 50% 0% no-repeat;
  background-size: cover;
}
#top-woman-3 {
  background: url(../img/top-img-3.png) 50% 50% no-repeat;
  background-size: cover;
}
.top-woman {
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-list,
.slick-track {
  height: 100%;
}
.woman {
  width: 100%;
  height: 39vh;
  overflow: hidden;
}
.woman__media {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  bottom: -0.5%;
  left: 0;
  width: 70%;
  min-width: 100px;
  max-width: 330px;
  display: flex;
}
.logo__media {
  width: 100%;
}
.logo__text {
  position: absolute;
  width: 50%;
  right: 35%;
  top: 20%;
}
.center {
  position: relative;
  width: 100%;
  max-height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background: #fff;
}
.slick-list, .slick-track{
  width: 100%;
}
.center .slick-slide {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.video {
  width: 100%;
}
.bottom {
  background-color: #fff; 
  overflow: hidden;
  position: relative;
}
.bottom__btn-logo{
  position: absolute;
  top: 45%;
  left: 25%;
  animation: pulseBg 1.2s infinite ease;
  width: 50%;
  pointer-events: none;
}
@keyframes pulseBg{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
canvas {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#tap{
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: calc(50% - 40px);
  width: 80px;
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes pulsBg{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.bottom__button {
  top: -1%;
  right: 0;
  height: 25% !important;
  max-height: 58.5px !important;
  z-index: 999;
  position: absolute;
  width: 80%;
  max-width: 377px;
  min-width: 100px;
  display: flex;
  height: 12%;
}
.button__bg {
  width: 100%;
  height: 100%;
}
.button__media {
  position: absolute;
  width: 55%;
  left: 40%;
  top: 10%;
}
.bottom__text {
  font-family: "Avenir", sans-serif;
  width: 100%;
  position: absolute;
  bottom: 0%;
  z-index: 999;
  background: #000;
  padding: 10px;
  color: #e6e5eb;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.text__logo {
  width: 20%;
}

#hellopreloader>p{
  display:none;
}

#hellopreloader_preload{
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222 url(../img/audio.svg) center center no-repeat;
  background-size:41px;
}