*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: 0;
  outline: 0;
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
}
.top,
.center,
.bottom {
  height: 33.3%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.woman {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.woman__media {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  display: flex;
}
.logo__media {
  width: 100%;
}
.logo__text{
  position: absolute;
  width: 40%;
  right: 40%;
  top: 20%;
}
.center {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video{
  width: 100%;
}
