*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body,
html {
  background-color: #000;
  background-image: url(../img/tap.png) ;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 140px 72px;
}
span{
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(../img/logo-1.png) no-repeat;
  pointer-events: none;
  border-radius: 50%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #fff;
}

#hellopreloader>p{
  display:none;
}

#hellopreloader_preload{
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222 url(../img/audio.svg) center center no-repeat;
  background-size:41px;
}