*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body,
html {
  background: #000;
}
span{
  width: 150px;
  height: 150px;
  position: absolute;
  background: url(../img/logo-1.png) no-repeat;
  pointer-events: none;
  border-radius: 50%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #fff;
}