*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: 0;
  outline: 0;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"),
    url("../fonts/Avenir-Medium.woff") format("woff"),
    url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
}
.top,
.center,
.bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.top,.center{
  height: 38%;
}
.top{
  background-size: cover;
  animation: fadeBg 1s ease;
  position: relative;
}
.bottom{
  
  height: 24%;
  animation: fadeBg 1s ease;
}
@keyframes fadeBg {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#top-woman-1{
  background: url(../img/top-img-3.jpg) top no-repeat;
  background-size: cover;
}
#top-woman-2{
  background: url(../img/top-img-2.jpg) 50% 50% no-repeat;
  background-size: cover ;
}
#top-woman-3{
  background: url(../img/top-img-1.jpg) 50% 50% no-repeat;
  background-size: cover ;
}
#bottom-woman-1{
  background: url(../img/bottom-img-3.jpg) 50% 50% no-repeat;
  background-size: cover;
}
#bottom-woman-2{
  background: url(../img/bottom-img-2.jpg) 50% 50% no-repeat;
  background-size: cover ;
}
#bottom-woman-3{
  background: url(../img/bottom-img-1.jpg) 50% 50% no-repeat;
  background-size: cover ;
}
.top-woman{
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-list, .slick-track{
  height: 100%;
}
.woman{
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.woman-bottom{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.woman__media{
  object-fit: cover;
}
.name {
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
}
.name__media {
  height: 100%;
}
.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  display: flex;
}
.logo__media {
  width: 100%;
}
.logo__text{
  position: absolute;
  width: 40%;
  left: 40%;
  top: 20%;
}
.center {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider,
.slider__container {
  position: relative;
  width: 100%;
  max-height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.slick-dots{
  display: flex;
  position: absolute;
  bottom: 0;
}
.slick-dots li{
  font-size: 0;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}
.slick-dots button{
  font-size: 0;
}
li.slick-active{
  background: #000;
  border: 2px solid #000;
}
.slick-initialized,.slick-slider{
  max-height: 100%;
}
.slider__btn {
  position: absolute;
  z-index: 1;
}
.slider__pre {
  left: 5px;
}
.slider__next {
  right: 5px;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 20px;
  padding-top: 10px;
  animation: fadeIn 2s ease;
  font-size: 3.2vw;
  font-family: "Avenir", sans-serif;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.close__media{
  position: absolute;
  right: 5px;
  top: 5px;
}
.popup__title{
  margin-bottom: 25px;
}
.popup__text{
  padding: 5px;
}
.slider__item {
  display: flex !important;
  justify-content: center;
  position: relative;
}
.slider__img {
  width: 60%;
  max-width: 218px;
  max-height: 288.8px;
  display: flex;
  justify-content: center;
  margin: 0 !important;
}
.img__media {
  width: 100%;
  margin: 0;
  height: 100%;
}
.slick-track{
  max-height: 100%;
}
.slider__plus {
  position: absolute;
  right: 20%;
  width: 10%;
  max-width: 45px;
  max-height: 45px;
}
.plus__media {
  width: 100%;
}

/* @media screen and (max-width: 1280px){
  .top{
    background: url(../img/top-img-1.jpg) 50% 0% no-repeat;
    background-size: 170%;
  }
  .bottom{
    background: url(../img/bottom-img-1.jpg) 30% 0% no-repeat;
    background-size: 200%;
  }
}
@media screen and (max-width: 1440px){
  .top{
    background: url(../img/top-img-1.jpg) 50% 0% no-repeat;
    background-size: 150%;
  }
  .bottom{
    background: url(../img/bottom-img-1.jpg) 75% 0% no-repeat;
    background-size: 210%;
  }
}
@media screen and (max-width: 1920px){
  .top{
    background: url(../img/top-img-1.jpg) 50% 0% no-repeat;
    background-size: 110%;
  }
  .bottom{
    background: url(../img/bottom-img-1.jpg) 30% 0% no-repeat;
    background-size: 110%;
  }
} */